:root{
     --color-back:#141C4D;
     --color-back-secend:#87724B;
     --back-ground-color:#EFF2F7;
     --color-text-bold:#121C47;
     --color-text-secend:#010103;
     --color-text-there:#F0F4FF,
}
body{
    text-transform: uppercase !important;
}
.app-brand-link img{
width: 80%;
margin: auto;
}
.content-footer{
     box-shadow: 0 0.25rem 1.125rem rgba(75, 70, 92, 0.1);
     background-color: #fff;
     padding: 10px 10px;
}
.text-card-title{
     color: var(--color-text-bold);
}
.bg-menu-theme.menu-vertical .menu-sub-tow> .menu-item > .menu-link:before {
     left: 0.35rem !important;
    
 }
 .table-tow-td tbody tr{
     display: grid;
     grid-template-rows: 1fr 1fr 1fr;
 }
 .table-tow-td tbody tr td{
     border-bottom: 1px solid var(--bs-table-border-color);
 }
 #template-customizer .template-customizer-open-btn{
     background: var(--color-back) !important;  
     color: var(--color-text-there) !important;
 }
 table thead{
    background-color: var(--color-back);
    color: var(--back-ground-color);
 }
 /* table tbody tr td{
    text-align: center;
 } */
 .table:not(.table-dark) thead:not(.table-dark) th {
    color: var(--back-ground-color) !important;
    font-weight: bold;
    text-align: center;
}
table td .dropdown{
margin: 4px;
}
.modal-title{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-text-bold);
    font-size: 24px !important;
}
.menu-item.open > .menu-sub{
    box-shadow: 8px 5px 10px #d5d6d8;
    border-radius: 15px;
}
.menu-vertical .menu-inner > .menu-item .menu-link,.btn{
    text-transform: uppercase !important;
}
.menu-vertical .menu-item .menu-sub .menu-link {
    font-size: 0.8375rem !important;
}
.menu-vertical .menu-item .menu-toggle {
    font-size: 0.9375rem !important;
}
.table-procurem th{
    vertical-align: middle 
}
.accordion-button {
    background-color:#121C47!important;
    color: #fff !important;
    font-size: 18px !important;
}
.input-groupe {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
}
.card-PROGRESS span,.text-poper{
color: #991CFB;
font-weight: 500;

}

.card-dashboard .card-header,.card-dashboard .card-header h6{
    background-color: chocolate;
    color: #000000!important;
    font-weight: 800;
    font-size: 15px;
    --bs-text-opacity:0 !important;
}
.bg-label-warning .fs-6,.chart-text .fs-6,.d-grid .text-poper{
    font-size: 0.7375rem !important;
}
.table-dashboard span,.card-footers span{
    font-size: 14px;
}
.card-subtitle{
    font-size: 12px;
}
